.bc86d1l{position:relative;left:-5px;}.bc86d1l::before{content:'';position:absolute;top:-10px;right:-10px;bottom:-10px;left:-10px;}
.mlyiowq{min-height:100%;background:var(--mlyiowq-0);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.masvfl3{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;min-height:100%;padding:0 20px 16px;width:100%;max-width:800px;margin-left:auto;margin-right:auto;}
.a1cfsvd2{width:30px;height:30px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.cenvtrt{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:12px;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;}
.t14g5zem{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;position:-webkit-sticky;position:sticky;top:0;right:0;}
.hgul81b{padding:10px 16px 10px;position:-webkit-sticky;position:sticky;top:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:space-between;-webkit-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);border-bottom:1px solid #80808029;}


.ck2imdd{font-style:normal;font-weight:400;color:black;font-family:system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans','Liberation Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';}
._10k7sx6{font-size:28px;font-weight:600;line-height:32px;}
._1xuqzz1{font-size:24px;font-weight:600;line-height:28px;}
._1g7xoqh{font-size:20px;font-weight:600;line-height:24px;}
._m4wr9g{font-size:16px;font-weight:400;line-height:20px;}
._q6nssd{font-size:14px;font-weight:400;line-height:18px;}
._1fxajnj{font-size:12px;font-weight:400;line-height:18px;}
._17khznh{font-weight:400;}
._16bt7zn{font-weight:500;}
._1oyc46l{font-weight:600;}
._1d83o4i{font-weight:700;}

.t6fna8e{color:rgba(194, 195, 214, 1);}
.p1p3x2x2{height:8px;border-radius:99px;background:var(--p1p3x2x2-0);}
.prwd0bl{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:40px;height:40px;background:rgba(255, 255, 255, 1);border-radius:12px;}
.cdmjned{width:100%;}
.v1kdkse8{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:end;-webkit-box-align:end;-ms-flex-align:end;align-items:end;margin-top:15px;}

.rhd4quw{display:-ms-grid;display:grid;gap:var(--rhd4quw-0);grid-gap:var(--rhd4quw-0);}

.teraf6y{background:rgba(255, 255, 255, 1);padding:8px 12px;border-radius:99px;}

.b1ftmje7{display:-ms-grid;display:grid;gap:var(--b1ftmje7-0);grid-gap:var(--b1ftmje7-0);}

.pqqgp2y{display:-ms-grid;display:grid;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-grid-columns:max-content auto max-content;grid-template-columns:max-content auto max-content;gap:12px;-ms-grid-gap:12px;grid-gap:12px;}
.p1vv29r7{display:-ms-grid;display:grid;-ms-grid-auto-flow:column;grid-auto-flow:column;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:start;justify-content:start;gap:10px;}
.phklylr.rhd4quw{background:rgba(240, 240, 245, 1);padding:16px;border-radius:16px;}.phklylr.rhd4quw>*+*{margin-top:12px;}


.b17wfim0{padding:16px 20px;border-radius:26px;cursor:pointer;text-align:center;}.b17wfim0 >*{color:white;}
.p1rfo0fz{background:rgba(79, 82, 119, 1);}
.p1214hy3{background:rgba(254, 158, 103, 1);}

.s1wb41fa{width:100%;display:block;padding:12px 16px;border-radius:16px;border:none;background-color:#f5f5f5;font-size:16px;font-weight:400;outline:none;color:black;}.s1wb41fa ::-webkit-input-placeholder{color:rgba(176, 176, 176, 1);}.s1wb41fa ::-moz-placeholder{color:rgba(176, 176, 176, 1);}.s1wb41fa :-ms-input-placeholder{color:rgba(176, 176, 176, 1);}.s1wb41fa ::placeholder{color:rgba(176, 176, 176, 1);}
.snabpe2{width:100%;display:block;padding:12px 16px;border-radius:16px;border:none;background-color:#f5f5f5;font-size:16px;font-weight:400;outline:none;color:black;resize:none;}.snabpe2 ::-webkit-input-placeholder{color:rgba(176, 176, 176, 1);}.snabpe2 ::-moz-placeholder{color:rgba(176, 176, 176, 1);}.snabpe2 :-ms-input-placeholder{color:rgba(176, 176, 176, 1);}.snabpe2 ::placeholder{color:rgba(176, 176, 176, 1);}

.d12o9db6{border:none;border-radius:26px;padding:24px;background:#ffffff;box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);width:90%;max-width:400px;text-align:center;position:fixed;top:50%;left:50%;-webkit-transform:var(--d12o9db6-0);-moz-transform:var(--d12o9db6-0);-ms-transform:var(--d12o9db6-0);transform:var(--d12o9db6-0);opacity:var(--d12o9db6-1);-webkit-transition:opacity 0.3s ease,-webkit-transform 0.3s ease;transition:opacity 0.3s ease,transform 0.3s ease;}.d12o9db6::backdrop{background-color:rgba(0, 0, 0, 0.5);opacity:var(--d12o9db6-1);-webkit-transition:opacity 0.3s ease;transition:opacity 0.3s ease;}
.c1iewcbo{background:none;border:none;font-size:24px;font-weight:bold;color:#333;position:absolute;top:16px;right:16px;cursor:pointer;}

.w1pbii4z{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;height:inherit;box-sizing:border-box;}
.s153mht4{display:inline-block;-webkit-animation:spin-s153mht4 2s linear infinite;animation:spin-s153mht4 2s linear infinite;}@-webkit-keyframes spin-s153mht4{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes spin-s153mht4{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}

.ta8szzn{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;border-radius:16px;background:rgba(244, 244, 244, 1);overflow:hidden;}

.t1gy24ma{width:100%;-webkit-flex:1;-ms-flex:1;flex:1;font-size:16px;font-weight:600;text-align:center;border:none;background-color:var(--t1gy24ma-0);cursor:pointer;-webkit-transition:background-color 0.3s;transition:background-color 0.3s;padding:8px 12px;border-radius:26px;}.t1gy24ma .l7rx1j0{color:var(--t1gy24ma-1);-webkit-transition:color 0.3s;transition:color 0.3s;}

.a1o66i3m{display:-ms-grid;display:grid;gap:16px;-ms-grid-gap:16px;grid-gap:16px;}

.a1a89733{display:-ms-grid;display:grid;-ms-grid-auto-flow:column;grid-auto-flow:column;gap:8px;-ms-grid-gap:8px;grid-gap:8px;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:start;justify-content:start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

.t1ajztal{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:12px;}
.t1wqw1um{width:40px;height:24px;border-radius:12px;background-color:var(--t1wqw1um-0);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:var(--t1wqw1um-1);-ms-flex-pack:var(--t1wqw1um-1);-webkit-justify-content:var(--t1wqw1um-1);justify-content:var(--t1wqw1um-1);cursor:pointer;-webkit-transition:background-color 0.2s,justify-content 0.2s;transition:background-color 0.2s,justify-content 0.2s;width:43.2px;gap:0px;border:2px solid rgba(79, 82, 119, 1);}
.t1taw7zu{width:20px;height:20px;background-color:rgba(79, 82, 119, 1);border-radius:50%;-webkit-transition:background-color 0.2s;transition:background-color 0.2s;zoom:1.03;}

.c12h92uf textarea{min-height:100px;}


.s1cwxplw{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:end;-webkit-box-align:end;-ms-flex-align:end;align-items:end;margin-top:30px;width:100%;height:100%;}

.t1c0blu5{display:-ms-grid;display:grid;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-grid-gap:4px;grid-gap:4px;gap:4px;-ms-grid-columns:auto 1fr;grid-template-columns:auto 1fr;}

.l1yoxsjn{display:-ms-grid;display:grid;-ms-grid-gap:8px;grid-gap:8px;gap:8px;}


.f1a1me05{margin-top:20px;display:-ms-grid;display:grid;gap:12px;-ms-grid-gap:12px;grid-gap:12px;}

.hnch1rd{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:space-between;-webkit-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:rgba(255, 255, 255, 1);padding:12px 16px 12px 16px;border-radius:26px;}
.a1leqkzv{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);margin-left:8px;}

.l163e2kx{display:-ms-grid;display:grid;-ms-grid-columns:auto 1fr;grid-template-columns:auto 1fr;gap:8px;-ms-grid-gap:8px;grid-gap:8px;}


.r1k7kbht{display:-ms-grid;display:grid;-ms-grid-gap:10px;grid-gap:10px;gap:10px;-ms-grid-columns:auto 1fr;grid-template-columns:auto 1fr;background:rgba(255, 239, 230, 1);padding:12px 16px;gap:10px;border-radius:16px;cursor:pointer;}


.pk6vwxd{background:rgba(79, 82, 119, 1);}.pk6vwxd p{color:rgba(255, 255, 255, 1);}.pk6vwxd svg path{fill:#febd98;}
.p1qm6m6x{background:rgba(255, 239, 230, 1);}
.wp0oars{background:rgba(244, 244, 244, 1);}
.a29qrak{height:100%;padding:12px 16px;border-radius:16px;}.a29qrak>*+*{margin-top:12px;}
.i1h685zz{height:47px;padding:8px;}





.i5hipjm{display:-ms-grid;display:grid;gap:16px;-ms-grid-gap:16px;grid-gap:16px;}
.r1cxtz4m{display:-ms-grid;display:grid;gap:12px;-ms-grid-gap:12px;grid-gap:12px;}
.t1ug3725.r1cxtz4m{-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr;}


.tmyyn0i{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;position:-webkit-sticky;position:sticky;top:0;right:0;}

