/* Reset for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* Reset line height and inheritance */
body {
  background: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset list styles */
ol, ul {
  list-style: none;
}

/* Reset links */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset input, textarea, button */
button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
  border: none;
  background: none;
}

/* Reset media element styles */
img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove default quotes for blockquote and q */
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
}

/* Reset vertical alignment */
[hidden] {
  display: none;
}

html, body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: initial;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}